/* color palette */

/* apply the palette */
.split-intro h1, h2, h3, h4, h5, h6 {
  color: #b8c0e0;
  text-transform: lowercase;
}

.split-intro .tagline {
  color: #a5adcb;
}

html {
  background-color: #24273a;
}
body, body.page-template-page-fullsingle-split {
  background-color: #24273a;
  color: #cad3f5;
}

body.page-template-page-fullsingle-split p {
  color: #cad3f5;
}

.split-lists .split-list ul li a {
  color: #f4dbd6;
}

.split-lists .split-list h3 {
  color: #b8c0e0;
}

